{% extends "partials/base.html" %}
{% block content %}
{% load static %}

<section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/forgot.png' %}" class="img-fluid" alt="Reset Password">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box">
                        <div class="log-in-title text-center">
                            <h3>Reset Your Password</h3>
                            <h5 class="text-muted">Enter a new password below.</h5>
                        </div>

                        {% if validlink %}
                            <form method="post" class="row g-4">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        {{form.new_password1}}
                                        <label for="id_new_password1">New Password</label>
                                    </div>
                                    {% for error in form.new_password1.errors %}
                                        <small class="text-danger">{{error}}</small>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        {{form.new_password2}}
                                        <label for="id_new_password2">Confirm Password</label>
                                    </div>
                                    {% for error in form.new_password2.errors %}
                                        <small class="text-danger">{{error}}</small>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100" type="submit">
                                        Change Password
                                    </button>
                                </div>
                            </form>
                        {% else %}
                            <div class="alert alert-danger text-center">
                                The reset link is invalid or has expired.
                            </div>
                            <a href="{% url 'users:password_reset' %}" class="btn btn-animation w-100 mt-3">
                                Request New Link
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
