{% extends "partials/base.html" %}
{% block content %}
{% load static %}
<section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/forgot.png' %}" class="img-fluid" alt="Reset Done">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box text-center">
                        <div class="log-in-title">
                            <h3>Check Your Email</h3>
                            <h5 class="text-muted">We've sent you a link to reset your password.</h5>
                        </div>

                        <a href="{% url 'users:login' %}" class="btn btn-animation w-100 mt-4">
                            Return to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
